version: "3.3"

services:
  prime:
    environment:
      - PUBSUB_EMULATOR_HOST=pubsub-emulator:8085
      - PUBSUB_PROJECT_ID=pantel-2decb

  ocsgw:
    networks:
      net:
        aliases:
          - "ocsgw"
        ipv4_address: 172.16.238.3

  ext-pgw:
    container_name: ext-pgw
    build: ext-pgw
    networks:
      net:
        aliases:
          - ext-pgw
        ipv4_address: 172.16.238.2
    depends_on:
      - "ocsgw"
    command: ["./wait_for_ocsgw.sh"]

  pseudonym-server:
    container_name: pseudonym-server
    build: pseudonym-server
    ports:
      - "8090:8080"
    environment:
      - DATASTORE_EMULATOR_HOST=localhost:9090
      - DATASTORE_PROJECT_ID=pantel-2decb
      - PUBSUB_EMULATOR_HOST=localhost:9080
      - PUBSUB_PROJECT_ID=pantel-2decb
    command: ["/bin/bash", "./wait_for_emulators.sh"]

  pubsub-emulator:
    container_name: pubsub-emulator
    image: knarz/pubsub-emulator

  gpubsub-emulator:
    container_name: gpubsub-emulator
    image: google/cloud-sdk
    command: ["gcloud", "beta", "emulators", "pubsub", "start", "--host-port=0.0.0.0:8085"]

  datastore-emulator:
    container_name: datastore-emulator
    image: google/cloud-sdk
    expose:
      - "8081"
    environment:
      - CLOUDSDK_CORE_PROJECT=pantel-2decb
      - DATASTORE_DATASET=pantel-2decb
    command: ["gcloud", "beta", "emulators", "datastore", "start", "--host-port=0.0.0.0:8081"]
