modules:
  - type: firebase
    config:
      configFile: config/pantel-prod.json
      rootPath: test
  - type: neo4j
    config:
      host: 0.0.0.0
      protocol: bolt
  - type: analytics
    config:
      projectId: pantel-2decb
      dataTrafficTopicId: data-traffic
      purchaseInfoTopicId: purchase-info
  - type: ocs
    config:
      lowBalanceThreshold: 0
  - type: pseudonymizer
  - type: api
    config:
      authenticationCachePolicy: maximumSize=10000, expireAfterAccess=10m
      jerseyClient:
        timeout: 3s
  - type: stripe-payment-processor
  - type: firebase-app-notifier
    config:
      configFile: config/pantel-prod.json
  - type: admin

server:
  applicationConnectors:
    - type: h2c
      port: 8080
      maxConcurrentStreams: 1024
      initialStreamRecvWindow: 65535

logging:
  level: INFO
  loggers:
    org.ostelco: DEBUG
