# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
build
out

.idea
*.iml
target
secrets/*
.nb-gradle
./build/resources/main/pantel-tests-1da9f050eea9.json
./build/resources/test/pantel-tests.json
./out/production/resources/pantel-tests-1da9f050eea9.json
./src/main/resources/pantel-tests-1da9f050eea9.json
./src/test/resources/pantel-tests.json
