modules:
  - type: firebase
    config:
      configFile: /secret/pantel-prod.json
      rootPath: ${FIREBASE_ROOT_PATH}
  - type: neo4j
    config:
      host: ${NEO4J_HOST}
      protocol: bolt+routing
  - type: analytics
    config:
      projectId: pantel-2decb
      dataTrafficTopicId: data-traffic
      purchaseInfoTopicId: purchase-info
  - type: ocs
    config:
      lowBalanceThreshold: 100000000
  - type: pseudonymizer
  - type: api
    config:
      authenticationCachePolicy: maximumSize=10000, expireAfterAccess=10m
      jerseyClient:
        timeout: 2s
  - type: stripe-payment-processor
  - type: firebase-app-notifier
    config:
      configFile: /secret/pantel-prod.json
  - type: admin

server:
  applicationConnectors:
    - type: h2c
      port: 8080
      maxConcurrentStreams: 1024
      initialStreamRecvWindow: 65535
  requestLog:
    appenders:
      - type: console
        layout:
          type: json
          customFieldNames:
            level: severity

logging:
  level: INFO
  loggers:
    org.ostelco: DEBUG
  appenders:
    - type: console
      layout:
        type: json
        customFieldNames:
           level: severity