modules:
  - type: firebase
    config:
      configFile: /secret/pantel-prod.json
      databaseName: pantel-2decb
      rootPath: ${FIREBASE_ROOT_PATH}
  - type: neo4j
    config:
      host: neo4j
      protocol: bolt+routing
  - type: ocs
    config:
      projectId: pantel-2decb
      topicId: data-traffic
      lowBalanceThreshold: 100000000
  - type: api
    config:
      authenticationCachePolicy: maximumSize=10000, expireAfterAccess=10m
      pseudonymEndpoint: http://pseudonym-server-service.default.svc.cluster.local
      jerseyClient:
        timeout: 2s
  - type: firebase-app-notifier
    config:
      configFile: /secret/pantel-prod.json
      databaseName: pantel-2decb
  - type: admin

server:
  applicationConnectors:
    - type: h2c
      port: 8080
      maxConcurrentStreams: 1024
      initialStreamRecvWindow: 65535

logging:
  level: INFO
  loggers:
    org.ostelco: DEBUG
  appenders:
    - type: console
      layout:
        type: json

