# This config is used as config.yaml when prime is running using docker-compose for Acceptance Testing

modules:
  - type: firebase
    config:
      configFile: /secret/pantel-prod.json
      databaseName: pantel-2decb
      rootPath: test
  - type: ocs
    config:
      projectId: pantel-2decb
      topicId: data-traffic
      lowBalanceThreshold: 0
  - type: api
    config:
      authenticationCachePolicy: maximumSize=10000, expireAfterAccess=10m
      pseudonymEndpoint: http://pseudonym-server:8080
  - type: admin

server:
  applicationConnectors:
    - type: h2c
      port: 8080
      maxConcurrentStreams: 1024
      initialStreamRecvWindow: 65535

logging:
  level: INFO
  loggers:
    org.ostelco: DEBUG
