<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.contrib.json.classic.JsonLayout" >
      <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
        <prettyPrint>true</prettyPrint>
      </jsonFormatter>
      <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
    </layout>
  </appender>

  <logger name="org.ostelco" level="DEBUG"/>
  <logger name="org.mobicents.tests.diameter" level="DEBUG"/>
  <logger name="org.jdiameter.common.impl.validation" level="INFO"/>
  <logger name="jdiameter.statistic" level="INFO"/>
  <logger name="org.jdiameter" level="INFO"/>
  <logger name="io.grpc.netty" level="INFO"/>
  <logger name="io.lettuce.core" level="INFO" />
  <logger name="io.netty" level="INFO" />

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>