<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder" >
      <providers>
        <timestamp>
          <fieldName>timestamp</fieldName>
        </timestamp>
        <message/>
        <loggerName>
          <fieldName>logger</fieldName>
        </loggerName>
        <threadName>
          <fieldName>thread</fieldName>
        </threadName>
        <logLevel>
          <fieldName>severity</fieldName>
        </logLevel>
        <mdc/>
      </providers>
    </encoder>
  </appender>

  <logger name="org.ostelco" level="DEBUG"/>
  <logger name="org.mobicents.tests.diameter" level="DEBUG"/>
  <logger name="org.jdiameter.common.impl.validation" level="INFO"/>
  <logger name="jdiameter.statistic" level="INFO"/>
  <logger name="org.jdiameter" level="INFO"/>

  <!-- change to DEBUG to see gRPC headers-->
  <logger name="io.grpc.netty" level="INFO"/>

  <logger name="io.lettuce.core" level="INFO" />
  <logger name="io.netty" level="INFO" />

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>